{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #000428, #004683);
}

.wrapper {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 30px;
    min-height: 300px;
    background-color: #ffffff27;
    border-top: 1px solid #ffffff6e;
    border-left: 1px solid #ffffff6e;
    border-radius: 15px;
}

.wrapper .h5 {
    color: #ddd;
}

.wrapper .form-group {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
}

.wrapper .form-group:hover {
    border-bottom: 1px solid #eee;
}

.wrapper .form-group .icon {
    color: #e8e8e8;
}

.wrapper .form-group .form-control {
    background: inherit;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #F7FE2E;
}

.wrapper .form-group input::placeholder {
    color: #c6ff00;
}

.wrapper .form-group input:focus::placeholder {
    opacity: 0;
}

.wrapper .form-group .fa-phone {
    transform: rotate(90deg);
}


.wrapper .option {
    color: #c6ff00;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none
}

.wrapper .option:hover {
    color: #eee;
}

.wrapper .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.wrapper .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: inherit;
    border: 2px solid #ccc;
    border-radius: 2px
}

.wrapper .option input:checked~.checkmark {
    transition: 300ms ease-in-out all
}

.wrapper .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    font-weight: 600;
    color: #FFF;
    font-size: 0.9rem;
}

.wrapper .option input:checked~.checkmark:after {
    display: block
}

.wrapper .option .checkmark:after {
    left: 2px;
    top: -4px;
    width: 5px;
    height: 10px
}

.wrapper .btn.btn-primary {
    position: relative;
    color: #eee;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: inherit;
    box-shadow: none;
    overflow: hidden;
}

.wrapper .btn.btn-primary:hover {
    background-color: #b4b4b433;
    color: #fff;
}

.wrapper .terms {
    color: #bbb;
    font-size: 0.85rem;
    text-align: center;
}

.wrapper .terms a {
    text-decoration: none;
    color: #eee;
}

.wrapper .terms a:hover {
    color: #fff;
}

.wrapper .connect {
    position: relative;
}

.wrapper .connect::after {
    content: "or";
    position: absolute;
    top: -12px;
    width: 80px;
    left: 39%;
    text-align: center;
    color: #eee;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.315);
    background-color: #1f5588;
}

.wrapper .social-links {
    margin-top: 50px;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.wrapper .social-links li a {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    background-color: #ffffff17;
    border: 1px solid #ffffff66;
    border-right: 1px solid #ffffff33;
    border-bottom: 1px solid #ffffff33;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 30px #004683e0;
    transition: 0.5s;
    overflow: hidden;
}

.wrapper .social-links li a:hover {
    transform: translateY(-20px);
}

.wrapper .social-links li a::before,
.wrapper .btn.btn-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: skew(45deg) translateX(130px);
    transition: .5s;
    opacity: 0;
}

.wrapper .social-links li a:hover:before,
.wrapper .btn.btn-primary:hover::before {
    opacity: 1;
    transform: skew(45deg) translateX(-130px);
}

@media(max-width: 460px) {
    .wrapper {
        margin: 15px;
        padding: 20px;
    }

    .wrapper .connect::after {
        left: 38%;
    }
}

@media(max-width: 345px) {
    .wrapper .connect::after {
        left: 32%;
    }
}



</style>


<div class="wrapper">
   <form name="registration_form" method="post">
    <div class="mb-3">
        <label for="registration_form_username" class="form-label required">Username</label>
        <input type="text" id="registration_form_username" name="registration_form[username]" required="required" maxlength="180" pattern=".{2,}" class="form-control" />
    </div>
		
    <div class="mb-3">
        <label for="registration_form_firstname" class="form-label">Firstname</label>
        <input type="text" id="registration_form_firstname" name="registration_form[firstname]" maxlength="64" class="form-control" />
    </div>
        
    <div class="mb-3">
        <label for="registration_form_lastname" class="form-label">Lastname</label>
        <input type="text" id="registration_form_lastname" name="registration_form[lastname]" maxlength="64" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="registration_form_plainPassword" class="form-label required">Password</label>
        <input type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required" autocomplete="new-password" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="registration_form_email" class="form-label required">Email</label>
        <input type="email" id="registration_form_email" name="registration_form[email]" required="required" maxlength="180" pattern=".{2,}" class="form-control" />
    </div>
    
    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" class="form-check-input" value="1" />
            <label class="form-check-label required" for="registration_form_agreeTerms">Agree terms</label>
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Valider</button>
    <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="dc02c03b825033301e97a4c.1pz-w8slle6fTZGuZMBVVSoTJGv7rr_GDf5tScBoqdM.5vGJhv16x6WoFdXeMKIwImFZHR3Pwvi3dJEIeIgk4bKdrbeTgXXnr_019g" />
</form>
    
    
    
    
    <form name="registration_form" method="post">
            <div class="h5 font-weight-bold text-center mb-3" style="color:#c6ff00">Inscription</div>
            <div class="form-group d-flex align-items-center" style="color:#c6ff00;" >
                
                <div class="icon"><span class="far fa-user"></span></div>
<label for="registration_form_username" class="form-label required">Username</label>
        <input type="text" id="registration_form_username" name="registration_form[username]" required="required" maxlength="180" pattern=".{2,}" class="form-control" />
            </div>
    
        <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-user"></span></div>
        <label for="registration_form_firstname" class="form-label">Firstname</label>
        <input type="text" id="registration_form_firstname" name="registration_form[firstname]" maxlength="64" class="form-control" />
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-user"></span></div>
                    <label for="registration_form_lastname" class="form-label">Lastname</label>
                    <input type="text" id="registration_form_lastname" name="registration_form[lastname]" maxlength="64" class="form-control" />
                </div>            
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-envelope"></span></div>
                    <label for="registration_form_email" class="form-label required">Email</label>
                    <input type="email" id="registration_form_email" name="registration_form[email]" required="required" maxlength="180" pattern=".{2,}" class="form-control" />
                </div>{#<input autocomplete="off" type="email"name="email" class="form-control" placeholder="Email">#}
            </div>




            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="fas fa-key"></span></div>
                    <label for="registration_form_plainPassword" class="form-label required">Password</label>
                    <input type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required" autocomplete="new-password" class="form-control" />
                </div>
            </div>



    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" class="form-check-input" value="1" />
            <label class="form-check-label required" for="registration_form_agreeTerms">Agree terms</label>
        </div>
    </div>

				    <input type="hidden" name="_csrf_token"
					   value="{{ csrf_token('authenticate') }}">
          
<button type="submit" class="btn btn-danger">Valider</button>
            {#<div><button type="submit" class="btn btn-primary mb-3">Valider</button></div>#}
            {#<div class="btn btn-primary mb-3">Valider</div>#}
<pre>
{{ dump() }}
</pre>


    </form> 
                          
    </div>



	
{% endblock %}
